<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <jsp-config>
    <jsp-property-group>
      <description>Настройки колонтитулов</description>
      <url-pattern>/WEB-INF/views/*</url-pattern>
      <url-pattern>/index.jsp</url-pattern>
      <include-prelude>/WEB-INF/jspf/header.jsp</include-prelude>
      <include-coda>/WEB-INF/jspf/footer.jsp</include-coda>
    </jsp-property-group>
  </jsp-config>
</web-app>